<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/styles/styleAll.css">
  <title>Todos os Links</title>
</head>

<body>
  <main>
    <h1>Meus links</h1>

    <%allLinks.forEach(link=> {%>
      <div class="card-link" id='<%=link._id%>'>
        <div>
          <h2>
            <%=link.title%>
          </h2>
          <p>
            <span>Descrição:</span>
            <%=link.description%>
          </p>
          <p>
            <span>URL:</span>
            <%=link.url%>
          </p>
        </div>
        <div>
          <button onclick="deleteLink('<%=link._id%>')">Deletar Link</button>
        </div>
      </div>
      <%})%>
  </main>

  <script>
    const deleteLink = async id => {
      const res = await fetch(`/${id}`, { method: 'DELETE' })

      if (res.ok) {
        const elementClicked = document.getElementById(id)
        elementClicked.remove()
      } else {
        const objError = await res.json()
        alert(objError.message)
      }
    }
  </script>
</body>

</html>